*{
  padding:0;
  margin:0;
}
body{
  background:#77BBE3 ;
  width: 100%;
  overflow: hidden;
  background-image: url('../assets/img/twitter-fondo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
header{
  width: 100%;
  background:#10E0D2;
  color:white;
  line-height: 80px;
  border-style: outset;
  text-align: center;
  font-family:  cursive;
}
section{
  width: 95%;
  margin:10px auto;
  background-color: transparent;
}
.cover-page{
  float: left;
  height: 137px;
  padding: 15px 10px 10px 15px;
  background-color: white;
  width: 47%;
}
.cover-page p{
  margin-top: 10px;
}
.line-ghost{
  color: white;
}
.codigo strong{
  color: #3F799D;
}
.container-form{
  float: left;
  margin-left: 1%;
  height: 190px;
  background-color: transparent;
  width: 49%;
}
form{
  padding:15px;
  background: white;
  width: 90%;
  overflow: hidden;
}
textarea{
  width: 100%;
  border: none;
  border-style: outset;
}
.container-button{
}
button{
  line-height: 10px;
  border-radius: 5px;
  background:gray;
  border: none;
  padding: 15px 20px 15px 20px;
  color:black;
}
.postition-tweets{
  width: 100%;
}
.pharraphe{
  clear: both;
  width:95%;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  background-color:white;
}
.color{
  background:#10E0D2;
  color: white;
}
.button:hover{
  background:black;
  color: white;
}
#count{
  width : 50px;
  text-align: center;
  position: relative;
  top:-30px;
  left:87%;
}
.color-yellow{
  background-color: yellow;
  border-radius: 5px;
  color: white;
}
.color-green{
  background-color:green;
  border-radius: 5px;
  color: white;
}
.color-red{
  background-color:red;
  border-radius: 5px;
  color: white;
}
